Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-emplace,
  performance-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-random-generator-seed,
  -clang-analyzer-deadcode.DeadStores,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling

WarningsAsErrors: '*'
HeaderFilterRegex: '^include/.*'
